html,body{
}


.wrapper{
	background-color: #44526A;
	height: 700px;
	color: #D3D3D3;

}

.nav-tabs > li > a{
	color: black;
}

.footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:-10;
	left:0;
	background-color: white;
}

.btn-signup{
	position: absolute;
    bottom: 0;
    right: 45%;

}

.carousel-inner img{
	width: 100%;
}


a:link{
	color: #D3D3D3;
}

a:visited {
    color: #D3D3D3;
 }

a:hover {
    color: #D3D3D3;
 }

 a:active {
    color: #D3D3D3;
 }