html,body{

}


.navbar navbar-default navbar-fixed-top {
	background-color: white;
}

.wrapper{
	background-color: #44526A;
	height: 700px;
}

.footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:-10;
	left:0;
	background-color: white;
}

.btn-signup{
	position: absolute;
    bottom: 0;
    right: 50%;

}