<ul>
	<h3> Last 10 Posts From Friends </h3>
	<% @recent.each do |post| %>
		<li>
		<%= post.body %>
		</li>
	<% end %>
</ul>

<%= link_to "Create post", new_post_path %>
<br />
<%= link_to "Go Back", users_path %>